* {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  background: #042331;
  color: #ffffff;
}
body {
  padding: 60px;
}

input {
  color: chocolate;
  font-size: 1.2rem;
  width: 100%;
  border-color: #ffffff;
  opacity: 3px;
  border-radius: 10px;
}
